langchain==0.3.23
langchain-core==0.3.51
langchain-google-genai==2.1.2
langchain-tavily==0.1.5
langchain-text-splitters==0.3.8
langgraph==0.3.28
langgraph-api==0.1.2
langgraph-cli==0.2.2
uvicorn==0.34.0
fastapi==0.115.12
fastapi-cli==0.0.7
langgraph-runtime-inmem==0.0.4

